<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="navbar_logo">
    <%= link_to root_path, class: "navbar-brand text-white" do %>
      <i class="fas fa-pencil-alt icon"></i><span class="logo">StaLog</span>
    <% end %>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item navbar_flex">
          <i class="fas fa-plus icon"></i>
          <%= link_to "新規投稿", new_post_path, class: "nav-link text-white" %>
        </li>
        <li class="nav-item navbar_flex">
          <i class="fas fa-user icon user_search"></i>
          <div class="navbar_usersearch">
            <%= link_to "ユーザー検索", users_path, class: "nav-link text-white" %>
          </div>
        </li>
        <li class="nav-item">
          <%= link_to profile_path(current_user.id), class: "nav-link text-white" do %>
            <img src="<%= current_user.profile_image%>" class="navbar_icon_image icon">
            <%= current_user.name %>
          <% end %>
        </li>
        <li class="nav-item navbar_flex">
          <i class="fas fa-sign-out-alt icon"></i>
          <div>
            <%= link_to "ログアウト", destroy_user_session_path, class: "nav-link text-white", method: :delete %>
          </div>
        </li>
      <% else %>
        <li class="nav-item navbar_flex">
          <i class="fas fa-sign-in-alt icon"></i>
          <div>
            <%= link_to "ログイン", new_user_session_path, class: "nav-link text-white" %>
          </div>
        </li>
        <li class="nav-item">
          <%= link_to "新規登録", new_user_registration_path, class: "nav-link text-white" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>