<div class="posts_new_forms_wrapper">
  <div class="field_name_wrapper form_margin_bottom">
    <h1 class="field_name">ログイン</h1>
  </div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <table class="form-table">
      <tbody>
        <tr>
            <th>メールアドレス</th>
            <td>
                <%= f.text_field :email, autofocus: true, class: "form-control", size: "60" %>
            </td>
        </tr>
        <tr>
            <th>パスワード</th>
            <td>
                <%= f.password_field :password, class: "form-control", size: "60" %>
            </td>
        </tr>
      </tbody>
    </table>
    <%= f.submit "ログイン", class: "btn content_btn btn_margin_top"%>
  <% end %>
</div>

<%= render "devise/shared/links" %>
