<% @entries.each do |e| %>
    <% unless e.user.id == current_user.id %>
        <img src="<%= e.user.profile_image %>" class="icon_image" >
        <%= e.user.name %>
    <% end %>
<% end %>
<%= form_with model: @message do |f| %>
    <%= f.text_field :message, placeholder: "メッセージを入力して下さい", size: 40 %>
    <%= f.hidden_field :room_id, value: @room.id %>
    <%= f.submit "投稿", class: "btn btn-primary" %>
<% end %>
<% if @messages.present? %>
    <% @messages.each do |m| %>
        <div>
            <img src="<%= m.user.profile_image %>" class="post_icon_image" >
            <%= m.user.name %>
            <%= m.message %>
            <% if m.user.id == current_user.id%>
                <%= link_to "/messages/#{m.id}", method: :delete do %>
                    <i class="fas fa-trash-alt"></i>
                <% end %>
            <% end %>
        </div>
    <% end %>
<% end %>