<% if user_signed_in? %>
    <% if post.user.id == current_user.id%>
        <div class="index_content_wrapper">
            <div class="index_content_profile">
                <%= link_to profile_path(post.user.id) do %>
                    <img src="<%= post.user.profile_image%>" class="post_icon_image"><br>
                    <%= post.user.name%>
                <% end %>
                <p>目標</p>
                <p><%= post.user.goal %></p>
            </div>
            <div class="index_content_text">
                <% @field = Field.find_by(title: post.field_content) %>
                <%= link_to field_path(@field.id), class: "content_textfield_links" do %>
                    <div class="index_content_textfield">
                        <p><%= post.field_content%></p>
                        <p><%= post.count_hour%>時間</p>
                    </div>
                <% end %>
                <%= link_to post_path(post.id) do %>
                    <p class="content_title">内容</p>
                    <p class="content_text content"><%= post.teaching_materials %></p>
                    <p class="content_title">実行</p>
                    <p class="content_text"><%= post.post_content %></p>
                    <p class="content_title">改善点</p>
                    <p class="content_text"><%= post.improvement_points %></p>
                <% end %>
                <div class="posts_index_button">
                    <p class="datetime"><%= post.start_time.strftime("%Y-%m-%d %H:%M") %></p>
                    <div>
                        <% if current_user.liked_by?(post.id) %>
                            <%= link_to destroy_like_path(post), class: "like-link", method: :DELETE, remote: true do %>
                                <i class="fa fa-heart unlike-btn"></i>
                            <% end %>
                            <%= post.likes.count %>
                        <% else %>
                            <%= link_to create_like_path(post), class: "like-link", method: :POST, remote: true do %>
                                <i class="fa fa-heart like-btn"></i>
                            <% end %>
                            <%= post.likes.count %>
                        <% end %>
                        <%= link_to "/posts/#{post.id}", method: :delete do %>
                            <i class="fas fa-trash-alt"></i>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    <% else %>
        <% if current_user.following?(post.user) %>
            <div class="index_content_wrapper">
                <div class="index_content_profile">
                    <%= link_to profile_path(post.user.id) do %>
                        <img src="<%= post.user.profile_image%>" class="post_icon_image"><br>
                        <%= post.user.name%>
                    <% end %>
                    <p>目標</p>
                    <p><%= post.user.goal %></p>
                </div>
                <div class="index_content_text">
                    <% @field = Field.find_by(title: post.field_content) %>
                        <div class="index_content_textfield">
                            <p><%= post.field_content%></p>
                            <p><%= post.count_hour%>時間</p>
                        </div>
                    <%= link_to post_path(post.id) do %>
                        <p class="content_title">内容</p>
                        <p class="content_text content"><%= post.teaching_materials %></p>
                        <p class="content_title">実行</p>
                        <p class="content_text"><%= post.post_content %></p>
                        <p class="content_title">改善点</p>
                        <p class="content_text"><%= post.improvement_points %></p>
                    <% end %>
                    <div class="posts_index_button">
                        <p class="datetime"><%= post.start_time.strftime("%Y-%m-%d %H:%M") %></p>
                        <div>
                            <% if current_user.liked_by?(post.id) %>
                                <%= link_to destroy_like_path(post), class: "like-link", method: :DELETE, remote: true do %>
                                    <i class="fa fa-heart unlike-btn"></i>
                                <% end %>
                                <%= post.likes.count %>
                            <% else %>
                                <%= link_to create_like_path(post), class: "like-link", method: :POST, remote: true do %>
                                    <i class="fa fa-heart like-btn"></i>
                                <% end %>
                                <%= post.likes.count %>
                            <% end %>
                        </div>
                    </div>
                </div>
            <div>
        <% end %>
    <% end %>
<% end %>