<% if user_signed_in? %>
    <div class="index_content_wrapper">
        <div class="index_content_profile">
            <%= link_to profile_path(post.user.id) do %>
                <img src="<%= post.user.profile_image%>" class="post_icon_image"><br>
                <% if post.user.id == current_user.id %>
                    <p class="index_content_name"><i class="fas fa-user icon"></i><%= post.user.name%></p>
                <% else %>
                    <p class="index_content_name another_user"><i class="fas fa-user icon"></i><%= post.user.name%></p>
                <% end %>
            <% end %>
            <% if post.user.id == current_user.id %>
                <div class="posts_index_goals">
                    <p class="goal_title"><i class="fas fa-bullseye icon"></i>目標</p>
                    <p class="goal_text"><%= post.user.goal %></p>
                </div>
            <% else %>
                <div class="posts_index_goals another_user">
                    <p class="goal_title another_user"><i class="fas fa-bullseye icon"></i>目標</p>
                    <p class="goal_text another_user"><%= post.user.goal %></p>
                </div>
            <% end %>
        </div>
        <div class="index_content_text">
            <% @field = Field.find_by(title: post.field_content) %>
            <% if post.user.id == current_user.id %>
                <%= link_to field_path(@field.id), class: "content_textfield_links" do %>
                    <div class="index_content_textfield">
                        <p><i class="fas fa-pen icon"></i><%= post.field_content%></p>
                        <p><i class="fas fa-clock icon"></i><%= post.count_hour%>時間</p>
                    </div>
                <% end %>
            <% else %>
                <div class="index_content_textfield another_user">
                    <p><i class="fas fa-pen icon"></i><%= post.field_content%></p>
                    <p><i class="fas fa-clock icon"></i><%= post.count_hour%>時間</p>
                </div>
            <% end %>
            <% if post.user.id == current_user.id %>
                <div class="index_content_block">
                    <p class="content_title_show"><i class="fas fa-graduation-cap icon"></i>内容</p>
                    <p class="content_text_show content"><%= post.teaching_materials %></p>
                </div>
                <div class="index_content_block">
                    <p class="content_title_show"><i class="fas fa-book icon"></i>実行</p>
                    <p class="content_text_show"><%= post.post_content %></p>
                </div>
                <div class="index_content_block">
                    <p class="content_title_show"><i class="fas fa-sort-amount-up icon"></i>改善点</p>
                    <p class="content_text_show"><%= post.improvement_points %></p>
                </div>
            <% else %>
                <div class="index_content_block another_user">
                    <p class="content_title_show another_user"><i class="fas fa-graduation-cap icon"></i>内容</p>
                    <p class="content_text_show content another_user"><%= post.teaching_materials %></p>
                </div>
                <div class="index_content_block another_user">
                    <p class="content_title_show another_user"><i class="fas fa-book icon"></i>実行</p>
                    <p class="content_text_show another_user"><%= post.post_content %></p>
                </div>
                <div class="index_content_block another_user">
                    <p class="content_title_show another_user"><i class="fas fa-sort-amount-up icon"></i>改善点</p>
                    <p class="content_text_show another_user"><%= post.improvement_points %></p>
                </div>
            <% end %>
            <div class="posts_index_button">
                <div class="index_content_items">
                    <div>
                        <%= post.start_time.strftime("%Y-%m-%d %H:%M") %>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% end %>