<div class="posts_search">    
    <div>
        <%= search_form_for @search do |f| %>
            <%= f.search_field :post_content_cont %>
            <%= f.submit "文字検索", class: "btn btn-primary"%>
        <% end %>
    </div>
    <div>
        <%= search_form_for @search2 do |f| %>
            <%= f.search_field :field_content_cont %>
            <%= f.submit "タグ検索", class: "btn btn-primary"%>
        <% end %>
    </div>
</div>
<div class="posts_content">
    <% @posts.each do |post| %>
        <div id="post_<%= post.id %>">
            <%= render 'post', post: post %>
        </div>
    <% end %>
</div>