<div class="posts_index_searchs">
    <div class="search_word">
        <%= search_form_for @search do |f| %>
            <%= f.search_field :teaching_materials_cont %>
            <%= f.submit "内容検索", class: "btn btn-primary"%>
        <% end %>
    </div>
    <div class="search_tag">
        <%= search_form_for @search2 do |f| %>
            <%= f.search_field :field_content_cont %>
            <%= f.submit "分野検索", class: "btn btn-primary"%>
        <% end %>
    </div>
</div>
<div class="posts_index_wrapper">
    <% @posts.each do |post| %>
        <div id="post_<%= post.id %>">
            <%= render 'post', post: post %>
        </div>
    <% end %>
</div>