<div>
    <div class="posts_index_wrapper">
        <div id="post_<%= @post.id %>">
            <%= render 'show', post: @post %>
        </div>
    </div>
    <%# コメントフォーム %>
    <div class="posts_show_comment_wrapper">
        <% if @post.user.id == current_user.id %>
            <p class="comment_top"><i class="fas fa-comments"></i>コメント</p>
        <% else %>
            <p class="comment_top another_user"><i class="fas fa-comments"></i>コメント</p>
        <% end %>
        <% @comments.each do |comment| %>
            <div class="comment_content_wrapper">
                <div>
                    <%= link_to profile_path(comment.user.id) do %>
                        <img src="<%= comment.user.profile_image %>" class="post_icon_image">
                    <% end %>
                </div>
                <div class="comment_text_contents">
                    <% if comment.user.id == current_user.id %>
                        <p class="comment_profile_text"><%= link_to comment.user.name, profile_path(comment.user.id) %></p>
                    <% else %>
                        <p class="comment_profile_text another_user"><%= link_to comment.user.name, profile_path(comment.user.id) %></p>
                    <% end %>
                    <div class="comment_content_texts">
                        <% if comment.user.id == current_user.id %>
                            <p class="comment_text"><%= comment.content %></p>
                        <% else %>
                            <p class="comment_text another_user"><%= comment.content %></p>
                        <% end %>
                        <% if comment.user_id == current_user.id %>
                            <%= link_to "/posts/#{@post.id}/comments/#{comment.id}", method: :delete do %>
                                <i class="fas fa-trash-alt"></i>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            </div>
        <% end %>
        <div class="comment_form">
            <%= form_with model:[@post, @comment], method: :post do |f| %>
                <div class="comment_textarea_wrapper"><%= f.text_area :content, placeholder: "コメントする", rows: "8", cols: "80", class: "comment_textarea" %></div>
                <div><%= f.hidden_field :post_id, value: @post.id %></div>
                <div><%= f.submit "送信", class: "btn content_btn"%></div>
            <% end %>
        </div>
    </div>
</div>