<img src="<%= @post.user.profile_image%>" class="icon_image">
<h1><%= @post.user.name %></h1>
<p><%= @post.field_content%>　<%= @post.count_hour %>時間</p>
<p><%= @post.post_content%></p>
<p>コメントする</p>
<%= form_with model:[@post, @comment], method: :post do |f| %>
    <%= f.text_area :content, placeholder: "コメントする" %>
    <%= f.hidden_field :post_id, value: @post.id %>
    <%= f.submit "送信", class: "btn btn-primary"%>
<% end %>
<p>コメント一覧</p>
<% @comments.each do |comment| %>
    <%= comment.content %>
    <% if comment.user_id == current_user.id %>
        <%= link_to "/posts/#{@post.id}/comments/#{comment.id}", method: :delete do %>
            <i class="fas fa-trash-alt"></i>
        <% end %>
    <% end %>
<% end %>