<div>
    <div class="posts_index_wrapper">
        <div id="post_<%= @post.id %>">
            <%= render 'show', post: @post %>
        </div>
    </div>
    <%# コメントフォーム %>
    <div class="posts_show_comment_wrapper">
        <% @comments.each do |comment| %>
            <div class="comment_content_wrapper">
                <div>
                    <%= link_to profile_path(comment.user.id) do %>
                        <img src="<%= comment.user.profile_image %>" class="post_icon_image">
                    <% end %>
                </div>
                <div class="comment_text_contents">
                    <% if comment.user.id == current_user.id %>
                        <p class="comment_profile_text"><%= link_to comment.user.name, profile_path(comment.user.id) %></p>
                    <% else %>
                        <p class="comment_profile_text another_user"><%= link_to comment.user.name, profile_path(comment.user.id) %></p>
                    <% end %>
                    <div class="comment_content_texts">
                        <% if comment.user.id == current_user.id %>
                            <p class="comment_text"><%= comment.content %></p>
                        <% else %>
                            <p class="comment_text another_user"><%= comment.content %></p>
                        <% end %>
                        <% if comment.user_id == current_user.id %>
                            <%= link_to "/posts/#{@post.id}/comments/#{comment.id}", method: :delete do %>
                                <i class="fas fa-trash-alt"></i>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            </div>
        <% end %>
        <div class="comment_form">
            <div class="posts_new_forms_wrapper">
                <%= form_with model:[@post, @comment], method: :post do |f| %>
                    <table class="form-table">
                        <tbody>
                            <tr>
                                <% if @post.user.id == current_user.id %>
                                    <th><i class="fas fa-comments"></i>コメント</th>
                                <% else %>
                                    <th class="another_user"><i class="fas fa-comments"></i>コメント</th>
                                <% end %>
                                <td>
                                    <%= f.hidden_field :post_id, value: @post.id %>
                                    <%= f.text_area :content, class: "forms", class: "form-control", size: "60" %>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <%= f.submit "送信", class: "btn content_btn btn_margin_top"%>
                <% end %>
            </div>
        </div>
    </div>
</div>