<h1 class="field_name"><%= @post.field_content %></h1>
<div class="field_content_wrapper">
    <div class="graph_wrapper">
        <%= line_chart @graph %>
    </div>
    <div class="fields_show_wrapper">
        <div class="index_content_text">
            <% @posts.each do |post| %>
                <% @field = Field.find_by(title: post.field_content) %>
                <div class="field_posts_title">
                    <p class="blue"><i class="fas fa-clock icon"></i><%= post.count_hour%>時間</p>
                </div>
                <%= link_to post_path(post.id) do %>
                    <div class="index_content_block">
                        <p class="content_title"><i class="fas fa-graduation-cap icon"></i>内容</p>
                        <p class="content_text content"><%= post.teaching_materials %></p>
                    </div>
                    <div class="index_content_block">
                        <p class="content_title"><i class="fas fa-book icon"></i>実行</p>
                        <p class="content_text"><%= post.post_content %></p>
                    </div>
                    <div class="index_content_block">
                        <p class="content_title"><i class="fas fa-sort-amount-up icon"></i>改善点</p>
                        <p class="content_text"><%= post.improvement_points %></p>
                    </div>
                <% end %>
                <div class="posts_index_button">
                    <div class="index_content_items">
                        <div class="field_date">
                            <%= post.start_time.strftime("%Y-%m-%d %H:%M") %>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
        <div>
            <% @posts.group("date(created_at)").sum(:count_hour).each do |time| %>
                <div class="count_hour_wrapper">
                    <div class="field_record">
                        <p class="count_hour date">日付</p>
                        <p class="count_number"><%= time[0] %></p>
                    </div>
                    <div class="field_record">
                        <p class="count_hour time">時間</p>
                        <p class="count_number"><%= time[1] %>時間</p>
                    </div>
                </div>
            <% end %> 
            <%= paginate @posts%>
        </div>
    <div>
</div>