<div class="profile_show_wrapper">
    <div>
        <img src=<%= @user.profile_image %> class = "icon_image">
        <h1><%= @user.name %></h1>
        <p>目標<br><%= @user.goal %></p>
        <p>自己紹介<br><%= @user.profile_text %></p>
        <% if @user.id == current_user.id %>
            <%= link_to edit_user_registration_path do %>
                <i class="fas fa-edit"></i>
            <% end %>
        <% end %>
        <%= render 'relationships/follow_button', user: @user %>
        <% unless @user.id == current_user.id %>
            <% if (current_user.following?(@user)) && (@user.following?(current_user)) %>
                <% if @isRoom == true %>
                    <%= link_to "", room_path(@roomId), class: "btn btn-primary far fa-envelope" %>
                <% else %>
                    <%= form_with model: @room do |f| %>
                        <%= fields_for @entry do |e| %>
                            <%= e.hidden_field :user_id, value: @user.id %>
                        <% end %>
                        <%= f.submit "", class: "btn btn-primary far fa-envelope" %>
                    <% end %>
                <% end %>
            <% end %>
        <% end %>
        <p>フォロー<%= @user.followings.count %></p>
        <p>フォロワー<%= @user.followers.count %></p>
    </div>
    <div class="calendar_wrapper">
        <% if @user.id == current_user.id %>
            <%= month_calendar events: @posts do |date, posts| %>
                <%= date.day %><br>
                <% posts.each do |post| %>
                    <% if post.user.id == current_user.id %>
                        <% @field = Field.find_by(title: post.field_content) %>
                        <%= link_to field_path(@field.id), class: "calendar_text" do %>
                            <%= "(" + post.field_content[0] + ")" %>
                            <%= post.count_hour %>時間
                        <% end %>
                    <% end %>
                <% end %>
            <% end %>
        <% end %>
    </div>
</div>
<% @user.posts.order(created_at: :desc).each do |post| %>
    <div class="profile_posts_wrapper">
        <div>
            <img src="<%= post.user.profile_image%>" class="post_icon_image"><br>
            <%= post.user.name%><br>
            <% if post.user.id == current_user.id %>
                <% @field = Field.find_by(title: post.field_content) %>
                <%=link_to field_path(@field.id) do %>
                    <%= post.field_content %>
                    <%= post.count_hour %>時間
                <% end %>
            <% else %>
                <%= post.field_content %>
                <%= post.count_hour %>時間
            <% end %>
        </div>
        <div>
            <%= link_to post_path(post.id) do %>
                <p class="content_title">内容</p>
                <p class="content_text content"><%= post.teaching_materials %></p>
                <p class="content_title">実行</p>
                <p class="content_text"><%= post.post_content %></p>
                <p class="content_title">改善点</p>
                <p class="content_text"><%= post.improvement_points %></p>
            <% end %>
            <% if post.user.id == current_user.id %>
                <%= link_to "/posts/#{post.id}", method: :delete do %>
                    <i class="fas fa-trash-alt"></i>
                <% end %>
            <% end %>
        </div>
    </div>
<% end %>