<img src=<%= @user.profile_image %> class = "icon_image">
<h1><%= @user.name %></h1>
<p><%= @user.profile_text %></p>
<%= render 'relationships/follow_button', user: @user %>
<p>フォロー<%= @user.followings.count %></p>
<p>フォロワー<%= @user.followers.count %></p>
<% unless @user.id == current_user.id %>
    <% if (current_user.following?(@user)) && (@user.following?(current_user)) %>
        <% if @isRoom == true %>
            <%= link_to "チャットへ", room_path(@roomId), class: "btn btn-primary" %>
        <% else %>
            <%= form_with model: @room do |f| %>
                <%= fields_for @entry do |e| %>
                    <%= e.hidden_field :user_id, value: @user.id %>
                <% end %>
                <%= f.submit "チャットを始める", class: "btn btn-primary" %>
            <% end %>
        <% end %>
    <% end %>
<% end %>
<%= month_calendar events: @posts do |date, posts| %>
    <%= date.day %>
    <% posts.each do |post| %>
        <%= post.field_content %>
        <%= post.count_hour %>
    <% end %>
<% end %>
<% @user.posts.order(created_at: :desc).each do |post| %>
    <div>
        <img src="<%= post.user.profile_image%>" class="post_icon_image">
        <%= post.user.name%>
        <%= post.post_content %>
        <%= post.field_content %>
        <%= post.count_hour %>
    </div>
<% end %>
