<div class="profile_show_wrapper">
    <div class="profile_top_wrapper">
        <% if @user.id == current_user.id %>
            <div>
                <div class="profile_icons">
                    <img src=<%= @user.profile_image %> class = "icon_image profile_icons_image">
                    <h1><%= @user.name %></h1>
                </div>
                <div class="posts_index_goals profile_center">
                    <p class="goal_title">目標</p>
                    <p class="goal_text"><%= @user.goal %></p>
                    <p class="goal_title">自己紹介</p>
                    <p class="goal_text profile_intro"><%= @user.profile_text %></p>
                    <div class="profile_edit">
                        <%= link_to edit_user_registration_path do %>
                            <i class="fas fa-edit"></i>
                        <% end %>
                    </div>
                </div>
                <div class="current_profile_follow_text">
                    <p>フォロー<%= @user.followings.count %></p>
                    <p>フォロワー<%= @user.followers.count %></p>
                </div>
                <% unless @user.id == current_user.id %>
                    <% if (current_user.following?(@user)) && (@user.following?(current_user)) %>
                        <% if @isRoom == true %>
                            <%= link_to "", room_path(@roomId), class: "btn btn-primary far fa-envelope" %>
                        <% else %>
                            <%= form_with model: @room do |f| %>
                                <%= fields_for @entry do |e| %>
                                    <%= e.hidden_field :user_id, value: @user.id %>
                                <% end %>
                                <%= f.submit "", class: "btn btn-primary far fa-envelope" %>
                            <% end %>
                        <% end %>
                    <% end %>
                <% end %>
            </div>
        <% else %>
            <div class="another_profile_wrapper">
                <div class="another_profile_text_wrapper">
                    <div class="profile_icons another_user">
                        <img src=<%= @user.profile_image %> class = "icon_image profile_icons_image">
                        <h1><%= @user.name %></h1>
                        <div class="another_profile_follow_text">
                            <div class="another_profile_buttons">
                                <div>
                                    <%= render 'relationships/follow_button', user: @user %>
                                </div>
                                <div>
                                    <% unless @user.id == current_user.id %>
                                        <% if (current_user.following?(@user)) && (@user.following?(current_user)) %>
                                            <% if @isRoom == true %>
                                                <%= link_to "", room_path(@roomId), class: "btn btn-danger far fa-envelope" %>
                                            <% else %>
                                                <%= form_with model: @room do |f| %>
                                                    <%= fields_for @entry do |e| %>
                                                        <%= e.hidden_field :user_id, value: @user.id %>
                                                    <% end %>
                                                    <%= f.submit "", class: "btn btn-danger far fa-envelope" %>
                                                <% end %>
                                            <% end %>
                                        <% end %>
                                    <% end %>
                                </div>
                            </div>
                            <div class="another_follow_count">
                                <p>フォロー<%= @user.followings.count %></p>
                                <p>フォロワー<%= @user.followers.count %></p>
                            </div>
                        </div>
                    </div>
                    <div class="posts_index_goals profile_center another_user">
                        <p class="goal_title another_user">目標</p>
                        <p class="goal_text"><%= @user.goal %></p>
                        <p class="goal_title another_user">自己紹介</p>
                        <p class="goal_text profile_intro"><%= @user.profile_text %></p>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
    <% if @user.id == current_user.id %>
        <div class="calendar_wrapper">
            <%= month_calendar events: @posts do |date, posts| %>
                <%= date.day %><br>
                <% posts.each do |post| %>
                    <% if post.user.id == current_user.id %>
                        <% @field = Field.find_by(title: post.field_content) %>
                        <%= link_to field_path(@field.id), class: "calendar_text" do %>
                            <%= "(" + post.field_content[0] + ")" %>
                            <%= post.count_hour %>時間
                        <% end %>
                    <% end %>
                <% end %>
            <% end %>
        </div>
    <% else %>
        <div class="calendar_wrapper another_profile">
            <div>
                <%= month_calendar events: @posts do |date, posts| %>
                    <%= date.day %><br>
                    <% posts.each do |post| %>
                        <% if post.user.id == current_user.id %>
                            <% @field = Field.find_by(title: post.field_content) %>
                            <%= link_to field_path(@field.id), class: "calendar_text" do %>
                                <%= "(" + post.field_content[0] + ")" %>
                                <%= post.count_hour %>時間
                            <% end %>
                        <% end %>
                    <% end %>
                <% end %>
            </div>
        </div>
    <% end %>
</div>
<div class="posts_index_wrapper">
    <% @user_posts.each do |post| %>
        <div id="post_<%= post.id %>">
            <%= render 'post', post: post %>
        </div>
    <% end %>
</div>
<%= paginate @user_posts %>